<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>angularJS Register</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
	<link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="../lib/js/jquery.js"></script>
	<script type="text/javascript" src="../lib/bootstrap/js/bootstrap.min.js"></script>
	<style type="text/css">
	.red{
		background:#a30;
	}
	.error{
		color:#A10;
	}

	p .error{
		/*display:none;*/
	}	
	input .error{
		border:1px solid #A10;

	}
	.wrapper{
		width:200px;
		height:auto;
		margin:30px auto;
	}
	</style>
</head>
<body data-ng-app="myApp">
	<div class="container" data-ng-controller="SignUpController"> 
	<div class="wrapper">
	<h3>用户注册表单</h3>
		<form name="signUpForm" data-ng-submit="submitForm()">
			<div class="form-group">
				<lable>用户名：</lable>
				<pre>合法: {{ signUpForm.username.$valid }}</pre>
				<code>{{ userdata.username }}</code>
				<input name="username"
				 	   type="text"
				  	   class="form-control"
				  	   data-ng-model="userdata.username"
				  	   data-ng-minlength="4"
				  	   data-ng-maxlength="16"
				  	   required
				  	   >
				  <p class="error" data-ng-if="signUpForm.username.$touched &&
				  							  signUpForm.username.$error.required"
				  							  >用户名不可为空</p>
				 <p class="error" data-ng-if="(signUpForm.username.$error.minlength || 
				 							 signUpForm.username.$error.maxlength) && signUpForm.username.$touched"
				 							>用户名长度必需在4~16字符之间</p>
			</div>
			<div class="form-group">
				<lable>密码：</lable>
				<pre>合法: {{ signUpForm.password.$valid }}</pre>
				<code>{{ userdata.password }}</code>
				<input name="password" 
					   type="password"
					   class="form-control"
					   data-ng-model="userdata.password"
					   data-ng-minlength="6"
					   data-ng-maxlength="255"
					   required
					   >
				<p class="error" data-ng-if="signUpForm.password.$error.required &&	  
				     						signUpForm.password.$touched">
				     						密码不可为空</p>
				<p class="error" data-ng-if="(signUpForm.password.$error.minlength || 
											signUpForm.password.$error.maxlength) 
											&& signUpForm.password.$touched">
												密码的长度应该在6~255之间
											</p>
			</div>
			<div class="form-group">
				<lable>确认密码：</lable>
				<pre>合法: {{ signUpForm.password2.$valid }}</pre>
				<code>{{ userdata.password2 }}</code>
				<input name="password2"
				 	   type="password"
				 	   class="form-control"
				 	   data-ng-model="userdata.password2"
				 	   compare="userdata.password"
				 	   required
				 	   >
				<p class="error" data-ng-if="signUpForm.password2.$error.compare && 
				 							signUpForm.password2.$touched">
				 							两次输入密码不一致</p>
			</div>
			<div class="form-group">
				<button class="btn btn-primary">注册</button>
			</div>
		</form>	
	</div>
	</div>
</body>
<script type="text/javascript" src="../lib/js/angular.min.js"></script>
<script type="text/javascript" src="./app.js"></script>
</html>