<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html" charset="utf-8" />
<title>index</title>
<style type="text/css">
</style>
<script type="text/javascript" src="./angular.min.js"></script>
</head>
<body data-ng-app="myApp" data-ng-controller="myCtrl">
	<h3>Contorl Function</h3>
	LastName: <input type="text" data-ng-model="firstName" /><br>
	FirstName: <input type="text" data-ng-model="lastName" /><br>
	UserName:{{ fullName() }}

</body>
<script type="text/javascript">
var app = angular.module("myApp", []);
app.controller("myCtrl", function ($scope){
	$scope.firstName = 'Jhon';
	$scope.lastName = 'Doe';
	$scope.fullName = function (){
		return $scope.firstName + " " + $scope.lastName;
	}
});
</script>
</html>