@charset "utf-8";
/*初始化css*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
body{font-size:12px;}
img{border:none;}
ul,ol{list-style:none;}
input,select,textarea{outline:none; border:none; background:#FFF;}
textarea{resize:none;}
a{text-decoration:none;}

/*清浮动*/
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}

/*头部小部分*/
.headerBox{
	background:#F5F5F5;
	height:60px;
}

.logo{
	padding-top:19px; width:320px;
}
.searchBox{
	width:320px;
	margin-top:10px;
	position:relative;
}
.search_input{
	width:216px;
	height:14px;
	line-height:14px;/*兼容低版本浏览器*/
	border:2px solid #9F9F9F;
	border-right:none;
	padding:11px 6px;
	font-size:14px;
}
.search_btn{
	width:90px;
	height:40px;
	background: url(../images/search_btn.jpg) left top no-repeat;
}

/*搜索交互*/
.search_hover{
	border-color:#3EABFF;
}
.search_show{
	width:440px;
	padding:2px 3px;
	border:2px solid #3EABFF;
	position:absolute;
	left:0px;
	top:48px;
	background:#FFF;
	display:none;
}
.search_list{
	width:259px;
	font-size:14px;
	border-top:1px solid #F3F3F3;
	border-right:1px solid #F3F3F3;
}
.search_list li{
	height:30px;
	line-height:30px;
	border-bottom:1px solid #F3F3F3;
	padding:0px 8px 0px 5px;
}
.search_list .active:hover{
	background:#F3F3F3;
}
.search_list li a{
	float:left;
	color:#8F8F8F;
}
.search_list li span{
	float:right;
	color:#8F8F8F;
	font-size:12px;
}
.imgShow{
	width:172px;
	background:#F3F3F3;
	padding:11px 0 11px 8px;
}
.imgShow dt{
	width:70px;
	height:105px;
	float:left;
}
.imgShow dt img{
	width:70px;
	display:block;
}
.imgShowText{
	height:81px;
}
.imgShow dd{
	width:92px;
	float:right;
}
.imgShow h3{
	margin-bottom:5px;
}
.imgShow dd h3 a{
	color:#000;
	font-size:14px;
}
.imgShow dd p{
	color:#909090;
	line-height:22px;
}
.imgShow_play{
	width:53px;
	height:24px;
	background:url(../images/search_play.png) left top no-repeat;
	display:inline-block;
}

/*右侧的菜单*/
.menu li{
	float:left;
	font-family:"Microsoft YaHei";
	font-size:14px;
	position:relative;
}
.menuTxt{
	height:24px;
	line-height:24px;
	padding:18px 12px;
	position:relative;
	z-index:2;
	float:left;
}
.menuTxt span{
	padding:0 5px;	
}
.menuTxt a{
	color:#535353;
}

.icon{
	background:url(../images/icon/icon_menu.png) 0 0 no-repeat;
}
.login{
	background-position:0 2;
	padding-left:20px;
}
.record{
	background-position:0 -19px;
	padding-left:20px;
}
.upload{
	padding-left:20px;
	background-position:0 -37px;
}
.menuShow{
	width:329px;
	border:1px solid #DDDDDD;
	position:absolute;
	top:60px;
	background:#FFF;
	display:none;
}
.login_left{
	left:-48px;
}
.record_left{
	left:-168px;
}
.upload_left{
	right:0;
}
.menu .active .menuShow{
	display:block;
}
.menu .active .menuTxt{
	background:#FFF;
	border-left:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
	padding:18px 11px 19px 11px;
}

/*menu 里面的内容*/
.menuCont{
	padding:22px 20px;
}
.menuCont_02{
	padding:12px 20px;
}
.infoCenter{
	font-size:14px;
	font-weight:normal;
}
.loginBox{
	padding-top:17px;
	padding-bottom:4px;
}
.loginBox a{
	width:91px;
	height:31px;
	float:left;

}
.login_btn{
	background:url(../images/login_btn.png) left center;
	margin-right:19px;
}
.reg_btn{
	background:url(../images/reg_btn.png) left center;
}	
.menu_line{
	border-top:1px dashed #E4E4E4;
	height:0;
	overflow:hidden;
	margin:14px 0;
}

.userCont li{
	width:105px;
	float:left;
	height:20px;
	line-height:20px;
	padding:0 0 0 25px;
	margin:3px 0;
}

/*播放记录*/
.record_item{
	margin-bottom:20px;
}
.record_title{
	height:45px;
}
.record_title span{
	width:75px;
	height:24px;
	float:left;
	background:#9B9B9B;
	color:white;
}
.record_title a{
	float:right;
	color:#555555;
}
.videoTitle{
	font-size:14px;
	font-weight:normal;
	height:24px;
	position:relative;
}
.videoTitle a{
	color:#555555;
	width:262px;
	display:inline-block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-family:Verdana;

}
.del{
	position:absolute;
	width:12px;
	height:12px;
	right:0;
	top:0;
	display:none;

}
.rate{
	font-size:12px;
	color:#BBBBBB;
	font-family:'宋体';
	padding-left:21px;
	margin-bottom:20px;
}
.rate a{
	color:#3399DF;
	float:right;
	display:none;
}
.lookMore{
	text-align:center;
}
.lookMore a{
	color:#555555;
}
.videoTitle a:hover,
.record_title a:hover,
.lookMore a:hover{
	color:#CB3311;
}
/*交互*/
.record_active .del{
	display:block;
}
.record_active .rate a{
	display:block;
}
.record_active .videoTitle a{
	color:#CB3311;
}

/*icon部分*/

.pc, .del{
	background:url(../images/icon/icon_menu.png) 0 0 no-repeat;
}
.pc{
 	background-position:-3px -180px;
}
.del{
	background-position:-3px -199px;
}
.reocrd{
	background-position:0 -18px;
}
.collect{
	background-position:0 -78px;
}
.zhuiju{
	background-position:0 -58px;

}
.subscribe{
	background-position:0 -98px;
}
.guangli{
	background-position:0 -138px;
}
.kongjian{
	background-position:0 -118px;	
}
.vip{
	background-position:0 -156px;
}
.upLoad{
	background-position:0 -38px;	
}
.share{
	background-position:0 -213px;
}

/*导航*/

.navBox{
	height:26px;
	border-bottom:3px solid #E5E5E5;
}
.nav{
	font-size:16px;
	font-family:"Microsoft YaHei";		
	_margin-right:-14px;
}
.nav li{
	float:left;
	margin-right:21px;
	position:relative;
	white-space:nowrap;
}
.nav li a{
	color:#555555;
	height:26px;
	float:left;
}
.nav li span{
	float:left;
	padding:0 5px;
}
.navMenu{
	float:left;
}
.nav .active{
	color:#05A5DF;
	border-bottom:3px solid #05A5DF;
	position:relative;
	margin-bottom:-3px;
}
.font14{
	font-size:14px;
}
.navShow{
	position:absolute;
	right:-10;
	top:26px;	
	border:1px solid #DDDDDD;
	background:#FFF;
	padding:15px 15px 0 15px;
	display:none;
}
.navMenu{
	position:relative;
	float:left;
	padding-right:13px;
}
.triangle{
	position:absolute;
	right:0;
	top:9px;
	width:8px;
	height:4px;
	overflow:hidden;
	background:url(../images/icon/triangle.png) left center no-repeat;

}
.nav_list{
	text-align:center;
}
.nav .nav_list li{
	float:none;
	margin-right:0;
	margin-bottom:15px;
}
.nav .nav_list a{
	float:none;
}

/*个人中心*/
.navRight li{
	margin-right:0;
	margin-left:12px;
	font-size:14px;
}

/*主题内容*/
.leftArea{
	width:660px;
}
.ykAd{
	width:310px;
}

/*通用的大列表样式*/
.imgList_b{
	width:420px;
	height:240px;
	position:relative;
}
.imgItem img{
	width:420px;
	height:240px;
	display:block;
}
.imgItemTxt{
	position:absolute;
	left:0;
	bottom:0;
	height:56px;
	width:410px;
	background:url('../images/imgBig_gradual.png') left bottom repeat-x;
	padding:34px 5px 0 5px;
}
.play{
	width:58px;
	height:56px;
	background:url(../images/icon/play.png) left center no-repeat;	
	position:relative;
	top:-14px;
}
.play a{
	width:48px;
	height:56px;
	display:inline-block;
}
.txt{
	font-family:"Microsoft YaHei";
	font-size:16px;
}
.txt h3{
	line-height:34px;
}
.txt a{
	color:#FFF;
	font-weight:normal;
}
.txt p{
	font-family:"宋体";
	font-size:12px;
}
.txt p span{
	margin-right:9px;
}
.userName{
	color:#FFF;
}
.times,
.discuss{
	color:#B9B9B9;
}
.pl{
	padding-left:70px;
}
.userIcon{
	padding-left:16px;
	background:url(../images/icon/userName.png) left center no-repeat;
}
.timesIcon{
	padding-left:16px;
	background:url(../images/icon/times.png) left center no-repeat;
}
.discussIcon{
	padding-left:16px;
	background:url(../images/icon/discuss.png) left center no-repeat;
}
/*小的通用部分*/
.imgList{
	width:200px;
	height:100px;
	position:relative;
}
.smImg img{
	width:200px;
	height:100px;
	display:block;
}
.smTxtBox{
	height:40px;
	width:100%;
	position:absolute;
	left:0;
	bottom:0;
	background:url(../images/imgSm_bg.png) left bottom repeat-x;	
}
.smTxt{
	position:absolute;
	left:0;
	width:100%;
	bottom:0;
	padding-bottom:5px;
	font-size:14px;
	font-family:"Microsoft YaHei";
}
.smTxt a{
	color:#FFF;
}
.txt_l{
	padding-left:5px;
}
.smTxt_r{
	text-align:right;
	padding-right:5px;
}
.txt_r{
	color:#DBDBDB;
}









/*通用样式*/
.comWidth{
	width:970px;
	margin:0 auto;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.hr_19{
	height:19px;
	overflow:hidden;
}
.hr_20{
	height:20px;
	overflow:hidden;
}
